<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DIRPath" value="D://KSESbills"/>
    <add key="ShopCode" value="DS"/>
    <add key="GSTNO" value="1234567890-0"/>
    <add key="ShopName" value="Sai Deepa Silks"/>
    <add key="ShopSubtitle" value="(A Unit of KSE)"/>
    <add key="Addr1" value="No 9 and 10, 8th Cross "/>
    <add key="Addr2" value="Sampangiramanagar, Bangalore - 560027"/>
    <add key="ContactNo" value="22229955, 22229966"/>
    <add key="Terms" value="Good Once sold cannot be returned"/>
  </appSettings>
</configuration>